@import '../variables/index.scss';

h2 {
  font-size: 1.75rem;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;

  &.light {
    font-weight: 300;
  }
}

.font-border {
  color: transparent;
  -webkit-text-stroke: 1px $white;

  &.pink {
    -webkit-text-stroke-color: $third;
  }
}
