@import '../variables/index.scss';

.max-block {
  width: -webkit-fill-available;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

  &-internal {
    max-width: $max-width-internal;
  }
}

.bg-white {
  background-color: $white;
  color: $black;
}

.hr {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid $primary;
  width: 100%;
  max-width: 15rem;
  margin-left: 0;
}
