@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-alma-method {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 15rem;
  gap: 20px;

  @include responsive(tablet) {
    flex-direction: column;
    padding-bottom: 0;
  }

  & > div {
    min-width: calc(50% - 10px);
  }

  &-title {
    font-size: 3.8125rem;

    @include responsive(mobile) {
      font-size: 1.5rem;
    }
  }

  &-mark {
    display: block;
    height: 0.5rem;
    background-color: $primary;
    width: 100%;
    max-width: 13.125rem;
  }
}
