@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-home-form {
  position: relative;
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 21.1875rem;
  padding-bottom: 5.9375rem;
  background-size: contain;

  @include responsive(mobile) {
    padding-top: 16rem;
  }

  &-module {
    display: flex;
    justify-content: flex-end;
  }

  h2 {
    font-size: 36px;

    @include responsive(mobile) {
      font-size: 1.5rem;
    }
  }

  &-cover {
    position: absolute;
    inset: 0;
    background: $bg;
    background: linear-gradient(
      270deg,
      rgba($bg, 1) 0%,
      rgba($bg, 1) 40%,
      rgba($bg, 0) 65%
    );

    @include responsive(mobile) {
      display: none;
    }
  }

  &-content {
    z-index: 1;

    @include responsive(tablet) {
      width: 100%;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 25.8125rem;

    & > button {
      margin-top: 0.625rem;
    }
  }
}
