@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-alma-plan {
  display: flex;
  gap: 0.8125rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  @include responsive(tablet) {
    flex-direction: column;
  }

  &-text {
    margin-bottom: 2.375rem;
  }

  & > div {
    width: calc(50% - 0.8125rem);

    @include responsive(mobile) {
      width: 100%;
    }
  }

  &-description {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include responsive(desktop) {
      flex-direction: column;
    }
  }

  &-plan-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    & > aside {
      flex: 1;
      min-width: min(30%, 20rem);

      @include responsive(desktop) {
        min-width: min(50%, 20rem);
      }

      @include responsive(tablet) {
        min-width: min(100%, 20rem);
      }
    }
  }
}
