@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-home-experience {
  background-color: $white;
  color: $black;
  padding-bottom: 7.5rem;
  padding-top: 1rem;

  &-content {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 63px;

    @include responsive(tablet) {
      font-size: 1.875rem;
    }
  }

  &-button {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
