@import '../../../styles/variables/index.scss';

.o-header {
  position: absolute;
  margin-top: 5.625rem;

  width: 100%;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    gap: 12.3125rem;
  }
}
