@import '../../../styles/variables/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

.o-header {
  position: absolute;
  margin-top: 2.5rem;

  width: 100%;
  z-index: 1;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    gap: 12.3125rem;

    @include responsive(desktop) {
      gap: 0;
    }
  }
}
