@import '../../../styles/variables/index.scss';

.o-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5.625rem;

  &-nav {
    display: flex;
    flex-direction: row;
    gap: 12.3125rem;
  }
}
