@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-home-main-card {
  display: flex;
  margin-top: -5rem;
  margin-bottom: 10rem;

  @include responsive(tablet) {
    flex-direction: column;
    margin: 2.5rem 0;
  }

  &-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 423px;
    text-align: center;

    @include responsive(tablet) {
      overflow: hidden;
      height: 320px;
    }

    &-img {
      position: absolute;
      width: 100%;
      max-width: fit-content;
    }

    p {
      font-weight: bold;
      font-size: 2.6875rem;
      text-shadow: $text-shadow;
      z-index: 1;

      @include responsive(tablet) {
        font-size: 1.5rem;
      }
    }
  }
}
