@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-home-about-us {
  position: relative;
  overflow: hidden;

  &-container {
    display: flex;

    @include responsive(tablet) {
      flex-direction: column;
    }
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    padding: 12.5rem 0;

    @include responsive(tablet) {
      width: 100%;
      justify-content: flex-end;
      padding: 9.375rem 0;
    }

    h3 {
      font-size: 5.8125rem;
      width: min-content;
      line-height: 1;

      @include responsive(desktop) {
        font-size: 2.5rem;
      }

      @include responsive(tablet) {
        font-size: 2.25rem;
      }
    }
  }

  &-title {
    font-style: italic;
    font-size: 3.5625rem;
    border-bottom: solid 1px $primary;
    font-weight: 400;
    width: fit-content;

    @include responsive(tablet) {
      font-size: 1.5rem;
    }
  }

  &-sub-title {
    font-size: 3.5625rem;
    font-weight: 900;

    @include responsive(tablet) {
      font-size: 1.5rem;
      margin-bottom: 0.875rem;
    }
  }

  &-text {
    max-width: 43.125rem;
  }

  &-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @include responsive(tablet) {
      display: none;
    }
  }
}
