@import '../../../../styles/variables/index.scss';

.module-home-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 47.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 10%;

  h1 {
    font-size: 5.8125rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 3.5625rem;
    margin-top: 0;
    color: transparent;
  }

  &-title-big {
    font-size: 10rem;
    text-shadow: $text-shadow;
  }

  &-content {
    margin-right: 10%;
  }
}
