@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-home-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  h1 {
    font-size: 5rem;
    margin-bottom: 0;

    @include responsive(tablet) {
      font-size: 1.9375rem;
    }
  }

  h3 {
    font-size: 3.75rem;
    margin-top: 0;
    color: transparent;

    @include responsive(tablet) {
      font-size: 18px;
    }
  }

  &-title-big {
    font-size: 6.25rem;
    text-shadow: $text-shadow;

    @include responsive(tablet) {
      font-size: 2.5rem;
    }
  }
}
