@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-alma-schedule {
  padding-top: 1.875rem;
  padding-bottom: 2rem;
  color: $black;

  &-text {
    margin-bottom: 2.5rem;
  }

  &-table {
    @include responsive(tablet) {
      display: none;
    }
  }

  &-drop {
    display: none;
    @include responsive(tablet) {
      display: block;
    }
  }

  &-drop-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 0;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin-bottom: 0;
      }
    }
  }
}
