@use '@/styles/variables/index.scss' as *;

.m-drop-down-body {
  @starting-style {
    padding: 0px;
    max-height: 0px;
  }
}

.m-drop-down {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    padding: 1rem 0.625rem;
    background-color: $c-primary;
    color: $c-white;

    & > i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      transition: $e-transition ease-in;

      &.open {
        transform: rotateZ(180deg);
      }
    }
  }

  &-body {
    display: block;
    overflow-y: hidden;
    transition:
      max-height 0.3s ease,
      height 0.3s allow-discrete;
    transition-behavior: allow-discrete;
    max-height: 0px;

    &.open {
      transition:
        max-height 0.3s ease,
        height 0.3s;
      transition-behavior: allow-discrete;
      max-height: 100%;
    }
  }

  &-body-content {
    margin-top: 0.5rem;
  }
}
