@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-contact-information {
  padding-top: 8.125rem;
  padding-bottom: 4.4375rem;

  h2 {
    margin: 0;
    font-size: 3.8125rem;

    @include responsive(mobile) {
      font-size: 1.5rem;
    }
  }

  &-content {
    display: flex;
    margin-top: 6.5625rem;
    gap: 26px;
    flex-wrap: wrap;

    @include responsive(tablet) {
      flex-direction: column;
    }

    & > aside {
      flex: 1;
    }
  }

  &-content-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(tablet) {
      flex-direction: row;
      gap: 1.125rem;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border-radius: 50%;
      color: $primary;
      width: 11.875rem;
      height: 11.875rem;
      transition: $transition ease-in-out;

      @include responsive(tablet) {
        width: 6.875rem;
        height: 6.875rem;
        min-width: 6.875rem;
      }

      svg {
        width: 6.25rem;
        height: 6.25rem;

        @include responsive(tablet) {
          width: 3.125rem;
          height: 3.125rem;
        }
      }

      &:hover {
        color: $white;
        background-color: $primary;
      }
    }
  }

  &-content-card-text {
    margin-top: 4.4375rem;

    @include responsive(tablet) {
      margin-top: 0;
    }

    p {
      color: $primary;
      text-align: center;
      font-size: 1.4375rem;
      font-weight: 900;

      @include responsive(tablet) {
        font-size: 14px;
      }

      @include responsive(tablet) {
        text-align: left;
      }
    }

    span {
      font-size: 24px;
      white-space: wrap;

      @include responsive(tablet) {
        font-size: 14px;
      }
    }
  }
}
