@import '../../../styles/variants/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

.a-input {
  background-color: transparent;
  border-color: $border;
  border: 1px solid;
  color: $fonts;
  padding: 0.7rem 1rem;
  font-size: 1rem;

  transition: $transition;

  &:focus,
  &:active {
    @include out-line;
  }
}
