@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-online-method {
  padding: 8.375rem 0;

  @include responsive(tablet) {
    padding-top: 0;
  }

  &-content {
    display: flex;
    gap: 2rem;

    @include responsive(tablet) {
      flex-direction: column-reverse;
    }

    & > div {
      flex: 1;
    }

    &-titles {
      h2 {
        font-size: 3.8125rem;
      }

      i {
        color: $primary;
        font-size: 1.875rem;
        margin-right: 0.25rem;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: block;
        font-size: 1.125rem;
      }
    }

    &-images {
      position: relative;

      @include responsive(tablet) {
        min-height: 600px;
        margin-top: -2rem;
      }

      & > img {
        position: absolute;

        @include responsive(tablet) {
          width: 250px;
          height: 340px;
        }
      }

      &-1 {
        bottom: 0;
        left: 0;
      }

      &-2 {
        top: 0;
        right: 0;
      }
    }
  }
}
