.app-t-whats-app {
  position: fixed;
  display: flex;
  justify-content: center;
  align-self: center;
  bottom: 36px;
  right: 36px;
  background-color: #2db742;
  border: 50%;
  border-radius: 50%;
  padding: 10px;
  font-size: 48px;
  width: 52px;
  height: 52px;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}
