@import '../../../styles/variables/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

$z-rounded: 3rem;

.a-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: $c-white;
  background-color: $c-primary;
  border: none;
  border-radius: 0.3125rem;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  box-shadow: $e-shadow;
  text-decoration: none;
  cursor: pointer;

  transition: $e-transition ease-in-out;

  &:hover {
    background-color: darken($color: $c-primary, $amount: 30%);
  }

  &:focus,
  &:active {
    @include out-line;
  }

  // Variants
  &-secondary {
    background-color: $c-secondary;

    &:hover {
      background-color: darken($color: $c-secondary, $amount: 10%);
    }
  }

  // width
  &-fit {
    width: fit-content;

    @include responsive(mobile) {
      width: 100%;
    }
  }

  &-full {
    width: 100%;
  }

  &-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $z-rounded;
    height: $z-rounded;
    border-radius: 2rem;
    padding: 0;
  }
}
