@import '../../../styles/variables/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

.a-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 0.3125rem;
  font-size: 0.8rem;
  padding: 15px 32px;
  box-shadow: $shadow;
  text-decoration: none;
  cursor: pointer;

  transition: $transition ease-in-out;

  &:hover {
    background-color: darken($color: $primary, $amount: 30%);
  }

  &:focus,
  &:active {
    @include out-line;
  }

  &.fit {
    width: fit-content;

    @include responsive(mobile) {
      width: 100%;
    }
  }

  &.full {
    width: 100%;
  }
}
