$c-primary: #444ce7;
$c-secondary: #8098f9;
$c-third: #f9539e;
$c-fonts: #eeeeee;
$c-font-dark: #333333;
$c-font-input: #999999;
$c-bg: #414141;
$c-bg-slide: #e2e2e2;
$c-border: #333333;

// Status
$c-error: $c-primary;
$c-info: #004085;
$c-warning: #ffae2d;

// Basics
$c-white: #fff;
$c-black: #000;
$c-gray-3: #bfbfbf;
$c-gray-6: #444444;
$c-gray-7: #322f2f;
$c-gray-9: #1c1c1c;
$c-gray-10: #010101;
