@import '../../../styles/variables/index.scss';

.a-divider {
  width: 0;
  height: 0;
  border-style: solid;
  border-left: 0 solid transparent;
  border-right: 100vw solid #fff;
  border-top: 207px solid transparent;
  transform: rotateY(180deg);
}
