@import '../../../../styles/variables/index.scss';

.module-alma-experience {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;

  &-container {
    position: relative;
    padding-bottom: 5rem;
    z-index: 1;
  }

  &-shadow {
    background-color: $black;
    opacity: 0.3;
    position: absolute;
    inset: 0;
  }

  &-title {
    font-size: 3.8125rem;
    font-style: italic;
    font-weight: 300;

    &-bold {
      font-style: normal;
      font-weight: 900;
    }
  }
}
