@import '../../../../styles/variables/index.scss';
@import '../../../../styles/mixins/globalMixins.scss';

.module-alma-experience {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;

  @include responsive(mobile) {
    background-size: cover;
    .a-divider-container {
      display: none;
    }
  }

  &-container {
    position: relative;
    padding-bottom: 5rem;
    z-index: 1;

    @include responsive(mobile) {
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
  }

  &-shadow {
    background-color: $black;
    opacity: 0.3;
    position: absolute;
    inset: 0;
  }

  &-title {
    font-size: 3.8125rem;
    font-style: italic;
    font-weight: 300;

    @include responsive(mobile) {
      font-size: 2.25rem;
    }

    &-bold {
      font-style: normal;
      font-weight: 900;
    }
  }
}
