@import '../../../styles/variables/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

.o-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive(desktop) {
    height: 31.25rem;
  }

  @include responsive(mobile) {
    height: 15.625rem;
  }

  h1 {
    font-size: 5.5rem;
    text-shadow: $text-shadow;

    @include responsive(tablet) {
      font-size: 3.125rem;
    }

    @include responsive(mobile) {
      font-size: 1.875rem;
    }
  }
}
