@import '../../../styles/variables/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

.o-main-card {
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include responsive(desktop) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    @include responsive(tablet) {
      flex-direction: column;
      padding: 2.5rem 1rem;
    }
  }

  &.white {
    background-color: $white;
  }
}
