@import '../variables/index.scss';

@mixin out-line {
  outline: 2px rgba($c-primary, 0.5);
  outline-style: solid;
  outline-offset: 2px;
}

@mixin responsive($point) {
  @if $point == mobile {
    @media (max-width: $l-mobile) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: $l-tablet) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: $l-desktop) {
      @content;
    }
  }
}
