@import '../../../styles/variables/index.scss';

.m-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1.75rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $fonts;
    transition: 0.3s;
    font-size: 1.625rem;

    &:hover {
      color: $primary;
    }
  }
}
