@import '../../../styles/variables/index.scss';
@import '../../../styles/mixins/globalMixins.scss';

.m-nav {
  display: block;
  padding: 0;
  margin: 0;

  &.open {
    display: block;
  }

  @include responsive(tablet) {
    position: absolute;
    display: none;
    text-align: center;
    top: 78px;
    right: 0;
    left: 0;
    background-color: $gray-6;
  }

  &-ul {
    display: flex;
    gap: 2.0625rem;
    padding: 0;
    margin: 0;

    @include responsive(tablet) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    li {
      display: contents;
      text-decoration: none;
    }
  }

  &-ul li a {
    color: $white;
    font-size: 1.0625rem;
    font-weight: bold;
    text-decoration: none;
    text-wrap: nowrap;

    @include responsive(tablet) {
      padding: 1.375rem 0;
      border-bottom: solid 1px $white;
    }

    &:hover .m-nav-ul-mark,
    &.active .m-nav-ul-mark {
      width: 50%;
    }
  }

  &-ul-mark {
    display: block;
    height: 0.4375rem;
    width: 0;
    background-color: $primary;
    transition: $transition;

    @include responsive(tablet) {
      display: none;
    }
  }
}
